<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Block</h1>
	
	<div th:each="user : ${users}">
		사용자 이름 : [[${user.userName}]]<br>
		사용자 나이 : [[${user.age}]]
	</div>
	
	<div th:each="user : ${users}">
		요약 : [[${user.userName}]] / [[${user.age}]]
	</div>
	
	<th:block th:each="user : ${users}">
	<div>
		사용자 이름 : [[${user.userName}]]<br>
		사용자 나이 : [[${user.age}]]
	</div>
	
	<div>
		요약 : [[${user.userName}]] / [[${user.age}]]
	</div>
	</th:block>
</body>
</html>