<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Link</h1>
	<a href="/hello1" th:href="@{/hello}" >Basic URL</a><br><!-- 링크를 타고 이동 할때는 @ 씀  th:href = 기존 속성을 덮어 씌움-->
	<a th:href="@{/hello(param1=${param1}, param2=${param2})}">query param</a><br><!-- 상황에 따라 다를때는  -->
	<a  th:href="@{/hello/${param1}/{param2}(param1=${path1}, param2=${path2})}">path variable</a><br><!-- 경로 변경핼때 사용 ex) 로그인시 -->
	<a  th:href="@{/hello/{param1}(param1=${path1}, param2=${path2})}">query param + path variable</a>
</body>
</html>