<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>variable</h1>
	
	<ul>Object
		<li>[[ ${userA.getUserName()} ]], [[ ${userA.getAge()} ]]</li>
		<li>[[ ${userA.userName} ]], [[ ${userA.age} ]]</li> <!-- 기존 EL 사용법 -->
		<li>[[ ${userA['userName']} ]], [[ ${userA['age']} ]]</li> 
	</ul>
	
	<hr/>
	
	<ul th:with="item=${list[1]}"> list<!-- 배열 -->
    	<li>[[ ${ item.getUserName() } ]]</li>
    	<li>[[ ${ item.userName } ]]</li>
    	<li>[[ ${ item['userName'] } ]]</li>
	</ul>

	<hr/>
	
	<ul>Map
		<li>[[ ${map['a'].getUserName()} ]]</li>
		<li>[[ ${map['a'].userName} ]]</li>
		<li>[[ ${map['a']['userName']} ]]</li>
	</ul>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>