<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>컨텐츠 데이터 출력하기</h1>
	
	<h3> 변수 빈 값 체크하기 </h3>
	<div th:with="firstVal=${''}"><!-- 변수 선언할때 쓰는 method:with -->
		<span th:text="${firstVal}">홍길동</span>
	</div>
	<br><br>
	<div th:with="firstVal=${''}, secondVal=${'bbb'}"><!-- 변수 선언할때 쓰는 method:with -->
		<span th:text="${firstVal == '' ? secondVal : firstVal}">홍길동</span>
	</div>
	
	<hr/>
	
	<h3> Model 또는 ModelAndView를 이용해서 데이터 전달 </h3>
	<span th:text="${data1}"></span>
	<span th:text="'안녕하세요' + ${data1}"></span>
</body>
</html>