<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mysite.memberMapper">
  <!-- 	
  <insert id="registerMember" parameterType="RegisterRequest">
  	INSERT INTO member(id, name, email, password, registerDate)
  	VALUES (seq_id.nextVal, #{name}, #{email}, #{password}, sysdate)
  </insert>
  
  <select id="selectWithPass" parameterType="RegisterRequest" resultType="Member">
  	SELECT * FROM member WHERE email=#{email} AND password=#{password}
  </select>
   -->
   
   <select id="selectAll" resultType="Member">
   		SELECT * FROM boot_mem
   </select>
   
   <insert id="insert" parameterType="Member">
   		INSERT INTO boot_mem(num, name, addr)
   		VALUES (#{num}, #{name}, #{addr})
   </insert>
   
   <delete id="delete" parameterType="int">
   		DELETE FROM boot_mem WHERE num = #{num}
   </delete>
   
   <update id="update" parameterType="Member">
   		UPDATE boot_mem SET name = #{name}, addr = #{addr} WHERE num = #{num}
   </update>
</mapper>